<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Lupa Password?</ion-title>
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-img class="center" style="width:40%; height:40%; padding-top: 5%;" src="../../assets/image/logo-smansa.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Sistem Informasi Perpustakaan<br>SMA N 1 Purwokerto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="ion-padding card">
        <div class="flex-center">
          <ion-icon size="large" name="information-circle"></ion-icon>
        </div>
        <br>
        <div class="flex-center">
          <ion-label style="font-weight: bold; text-align: center;">Lupa Password?</ion-label>
        </div>
        <div class="flex-center">
          <ion-label style="text-align: center;">Silahkan menghubungi Admin Sistem Informasi Perpustakaan
            SMA N 1
            Purwokerto dengan membawa kartu
            Identitas.</ion-label>
        </div>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>