/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center {
    margin: auto;
}

.pad-menu {
    padding-left: 5%;
    padding-bottom: 4%;
}

.no-scroll .scroll-content {
    overflow-y: auto !important;
}

.ion-item-sidemenu {
    // --background: #ffe3e3;
    --color: var(--ion-color-danger);

    // --border-color: #fff;
    // --border-style: dashed;
    // --border-width: 2px;

    // --border-radius: 20px;

    --background-activated: #ff9999;
    --ripple-color: var(--ion-color-danger);

    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 20px;
}

ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 0, 0.5);
}

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;

    box-shadow: 4px 0px 16px rgba(255, 0, 0, 0.18);
}

ion-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@font-face {
    font-family: appfont;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/font/Montserrat.ttf");
}